.hero-area{
    background: rgb(85,203,118);
    background: linear-gradient(90deg, rgba(85,203,118,0.8442437923250564) 0%, rgba(0,255,212,1) 38%, rgba(61,57,156,1) 100%);
    min-height: 250px;
    display: flex;
   
    align-items: center;
}
footer{
    background: darkgray;
    color: #fff;
}